.proprio {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;

  .proprio__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  .proprio__name {
    font-weight: 500;
    font-size: 18px;
    color: #ff6060;
    text-align: right;
  }
}
