.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #ff6060;

  .error-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0 20px 0;
    .title-error {
      display: flex;
      margin: 0;
      font-size: 96px;
    }
  }

  .error-phrase {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    .explain-error {
      display: flex;
      text-align: center;
      justify-content: center;
      font-size: 18px;
      width: 80%;
    }
  }

  .error-return-link {
    display: flex;
    margin: 20px 0 40px 0;
    .link-return {
      display: flex;
      font-size: 14px;
      color: #ff6060;
    }
  }
}

@media screen and (min-width: 1024px) {
  .error .error-title .title-error {
    font-size: 225px;
  }
  .error .error-phrase .explain-error {
    width: 90%;
    font-size: 30px;
  }
  .error .error-return-link {
    margin: 80px 0 90px 0;
  }
  .error .error-return-link .link-return {
    font-size: 18px;
  }
}
